# Python / venv
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data / outputs
data/
*.csv
*.xlsx
*.parquet
outputs/
figures/
reports/

# Models / ML runs
*.pth
*.pt
mlruns/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

